
<% include ./middle %>

    <footer>
        <div class="footer_nav">
            <div class="container">
                <div class="row">
                <div class="col-md-3 col-sm-6">
                    <p> Cryptonyst is a Cryptocurrency platform built for the crypto community to share ideas, news and trends around the ecosystem of Blockchain. This platform strives to become the front face of Cryptocurrency community.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Info</h4>
                    <ul class="info">
                        <li><a href="/privacy">Privacy</a></li>
                        <li><a href="/legal/terms-of-use">Terms</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Contact</h4>
                    <p>Having issues? support.cryptonyst@gmail.com</p>
                    <p>info.cryptonyst@gmail.com</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Social</h4>
                    <ul class="social">
                        <li><a href="https://facebook.com/cryptonyst"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/cryptonyst1"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </footer>
</body>
</body>
</html>