<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Bitcoin, Ethereum, Finance, EOS, Investing, Crypto News">
    <meta name="description" content="Cryto News platform to stay up to date with trends in the crypto ecosystem. Read, share and earn Bitcoin converted to your local currency">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <!-- Propeller -->
     <meta name="propeller" content="f5fa74615d57f624cbf14f178fe7a0c2">
     <title>Cryptonyst - Read Top News in the Crypto Industry, Interact and Get Rewards</title>

      <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/8049d5025a.js"></script>

    <!-- Website ICON -->
    <link rel="icon" type="image/png" href="/public/img/logo.png">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,500,700|Playfair+Display:400,500,700&display=swap" rel="stylesheet">
    <!-- Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140856709-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-140856709-1');
    </script>

    <script src="//propu.sh/ntfc.php?p=2642239" data-cfasync="false" async>
    </script>

</head>
<body>

<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <div class="container">
            <ul class="main-header__item-list">
                <% if(!currentUser) { %>
                <li class="main-header__item">
                    <a href="/">Home</a>
                </li>
                <li class="main-header__item">
                    <a href="/blogs">News</a>
                </li>
                <li class="main-header__item">
                    <a href="/login">Sign In</a>
                </li>
                <li class="main-header__item">
                    <a href="/register">Sign Up</a>
                </li>
                <% } else { %>
                <li class="main-header__item">
                    <a href="/blogs">Blog</a>
                </li>
                <li class="main-header__item">
                    <a href="/blogs/new">Create Blog</a>
                </li>
                <li class="main-header__item">
                    <a href="/users/<%= currentUser._id %>"><img class="profile_img_pad" src="https://res.cloudinary.com/rexjosph/image/upload/v1560600172/gender-neutral-user--v1.png" /></a>
                </li>
                <li class="main-header__item">
                    <a href="/logout">Sign Out</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
            <% if(!currentUser) { %>
            <li class="mobile-nav__item">
                <a href="/">Home</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/blogs">News</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/login">Sign In</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/register">Sign Up</a>
            </li>
            <% } else { %>
            <li class="mobile-nav__item">
                <a href="/">Blog</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/blogs/new">Create Blog</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/users/<%= currentUser._id %>">
                    Profile
                </a>
            </li>
            <!-- sign out route -->
            <li class="mobile-nav__item">
                <a href="/logout">Sign Out</a>
            </li>
            <% } %>
        </ul>
</nav>

        <div class="container">
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
        </div>
