<% include ./partials/header %>
</head>

    <div class="container orange">
        <h1 id="big">404</h1>
        <h1>Page Not Found!</h1>
        <p>Please check the resource URL for mistakes in the link or see it might have been moved or deleted. <br /><a href="/blogs">Go back to homepage</a></p>
    </div>

<% include ./partials/middle %>
