<% include ./partials/header %>

<div class="container">
  <div class="content_misc">
      <h1>Privacy Policy</h1>
      <p>Cryptonyst takes your privacy seriously. We will not sell, lease, or exchange your personal data to, or otherwise share your personal data with, third parties in ways other than described in this Privacy Policy</p>
      <p>By using Cryptonyst, you agree to be bound by the Terms of Service and this Privacy Policy. Some capitalized terms used in this Privacy Policy and not otherwise defined may be defined in the Terms of Service. This Privacy Policy only addresses activities from our servers.</p>
    <h4>Consent and Information Collection and Use</h4>
    <p>When you join our platform, we ask for personal information that will be used to activate your account, provide contents to you, communicate with you about the status of your account, and for other purposes set out in this Privacy Policy. Your name, email address, credit card information and certain other information about you may be required by us to provide the features disclosed to you when using this platform. You will also be asked to create a private password, which will become part of your account information.</p>
    <p>By providing personal information to us and by retaining us to provide you with the features, you voluntarily consent to the collection, use and disclosure of such personal information as specified in this Privacy Policy. </p>
    <p>We may use your personal or account information for the following purposes:</p>
    <ul>
        <li>To create, manage and control your account information, and to verify access rights to the platform,</li>
        <li>To communicate with you for the purpose of informing you of changes or additions to the platfomr, or of the availability of any feature we provide,</li>
        <li>To enforce this Privacy Policy;</li>
        <li>o respond to claims of any violation of our rights or those of any third parties;</li>
        <li>To protect the rights, property or personal safety of you, us, our users and the public; and as required or authorized by law.</li>
    </ul>
    <h4>Age of Consent</h4>
    <p>We do not knowingly provide the features to, and will not knowingly collect the personal information from anyone under the age of consent.</p>
    <h4>Rights to Your Information</h4>
    <p>You have the right to access and edit your information at anytime through the web interface provided as part of the features.</p>
    <h4>Disclosure</h4>
    <p>We will only share your information with third parties in accordance with your instructions or as necessary to provide you with a specific service or otherwise in accordance with applicable privacy legislation. As a general rule, we do not and will not sell, rent, share or disclose your personal information without first receiving your permission or as permitted in this Privacy Policy.</p>
    <h4>Links</h4>
    <p>The Site may contain links to other sites and we are not responsible for the privacy practices or the content of such sites. We encourage you to read the privacy policy of linked sites. Their privacy policies and practices differ from our policies and practices.</p>
    <h4>Cookies and Log Files</h4>
    <p>We use cookies and log files to track user information. Cookies are small amounts of data that are transferred to your web browser by a web server and are stored on your computer’s hard drive. We will use this information to deliver relevant content to you. This also allows us to make sure that visitors see the website they expect to see if they return to the same web URL.</p>
    <h4>Security</h4>
    <p>We will strive to prevent unauthorized access to your personal information, however, no data transmission over the Internet, by wireless device or over the air is guaranteed to be 100% secure. We will continue to enhance security procedures as new technologies and procedures become available.</p>

    <p>We strongly recommend that you do not disclose your password to anyone. If you forget your password, we will ask you for your email and send you a message containing a link that will allow you to reset your password.</p>

    <p>Please remember that you control what personal information you provide while using the platform. Ultimately, you are responsible for maintaining the secrecy of your identification, passwords and/or any personal information in your possession for the use of the platform. Always be careful and responsible regarding your personal information. We are not responsible for, and cannot control, the use by others of any information which you provide to them and you should use caution in selecting the personal information you provide to others through the platform. Similarly, we cannot assume any responsibility for the content of any personal information or other information which you receive from other users through the Services, and you release us from any and all liability in connection with the contents of any personal information or other information which you may receive using the platform. We cannot guarantee, or assume any responsibility for verifying, the accuracy of the personal information or other information provided by any third party. You release us from any and all liability in connection with the use of such personal information or other information of others.</p>
    <hr>
  </div>
</div>

<% include ./partials/footer %>