<% include ./partials/header %>

<div class="container">
  <div class="content_misc">
      <h1>Terms of Use Agreement</h1>
      <p>Updated May 10, 2019</p>
      <p>By using the Cryptonyst platform (website), You agree to be a bound and abide by the terms and conditions of this Terms of Use Agreement. If you are entering this agreement on behalf od a company, organization or another legal entity, you agree to this Agreement for that entity and representing that you have the authority to bind such entity to this Agreement, in which case the term "you/we" refer to such entity. If you do not agree to this Terms of Use Agreement, you should not access the Cryptonyst platform.</p>
      <p>All information provided by you in connection with the Website shall be subject to the Cryptonyst Privacy Policy at <a href="http://wwww.cryptonyst.online/privacy/">http://www.cryptonyst.online/privacy/</a>.</p>
    <ol>
        <li><h4>Age and Eligibility</h4></li>
        <p>You certify that you are at least 15 years of age. The platform may only be used or accessed through an electronic device controlled by you at all times. A Cryptonyst account may only be created and maintained if your provide valid information about you in the sign up process. Cryptonyst reserves the right to terminate any account that does not include a valid email address.</p>
        <p>You shall be responsible for maintaining the confidentiality of usernames and passwords associated with your account. Each user must have unique login credentials that may not be shared by multiple users. You are responsible for all activitie that occur under your account.</p>
        <li><h4>Your Content</h4></li>
        <p>By posting or publishing your content or comments or transmitting your data (content) through this platform, you give us permission to display and distribute your content in order to provide the features and functionality of this platform. By posting and publishing your content, you represent and warrant that your content does not infring, violate or missappropriate any third-party right, including any copyright, tradement, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right.</p>
        <p>Cryptonyst does not allow any of the following content, or links to such content to be published on the platform:</p>
        <ol class="pad_left">
            <li>Content of an illegal nature (including stolen copyrighted material)</li>
            <li>Content with the purpose of causing harm or inicity hate, or content that could be reasonably considered as slanderous or libelous.</li>
            <li>Contents that is created to defraud other users and/or include shady business.</li>
            <li>Content that promotes anything else aside Blockchain or the Crypto Ecosystem.</li>
        </ol>
        <p>Your posting of any of the above content on the website will result in a notice to your current email address on file. A grace period of 48 hours to take corrective actions is given, but you risk immediate account termination if Cryptonyst deems this necessary. A violation of this Terms of Use Agreement can lead to termination and removal of your account without notice.</p>
        <li><h4>Acceptable Use</h4></li>
        <p>Cryptonyst does not allow any of the following:</p>
        <ol>
            <li>You may not send unsolicited messages or use the website to send unsolicited messages (also known as junk or SPAM)</li>
            <li>You may not access the platform through automated methods, and any other use of robots or other computer code which surfs the platform.</li>
            <li>You must not do business with users/accounts that are not endorsed/promoted by Cryptonyst.</li>
            <li>You must not SPAM the comment section of any content in the Cryptonyst platform.</li>
            <li>The platform may only be used for its purposes (sharing info and discussing Crypto)</li>
        </ol>
        <p>The final decision of whether an account is in violation of any of these policies is at the sole discretion of Cryptonyst. You agree that violations by your or any person or entity acting under your account of the terms of this Agreement will, in addition to any other remedies including criminal prosecution, result in termination of your access to the platform and taking down of all your contents. In addition, violation of these terms and policies may result in tracking information being stored to identify the offending person, and permanent restriction from holding an account on the platform.</p>
        <li><h4>Third-Party Websites</h4></li>
        <p>The platform may contain links to third-party websites. Such linked websites are not under Cryptonyst's control, and Cryptonyst is not responsibile for their content.</p>
        <li><h4>Warranty Disclaimer</h4></li>
        <p>The website and all content displayed on the website are offered on an "As is" and "As Available" Basis. Cryptonyst does not warrant that the website or services will be uninterrupted or error free; nor does Cryptonyst make any warranty as to the results that may be obtained from use of the website or its contents. Cryptonyst has no obligation to monitor, control, or vet user content or data, and Cryptonyst makes no claims or warranties about the quality, accuracy, or reliability of the website and it's users contents offered throught the website, its safety or security, or the website's interoperability, unavailability or security vulnerabilities.</p>
        <li><h4>Policies</h4></li>
        <p>You shall use the Platform only in compliance with Cryptonyst's published policies then in effect (including Cryptonyst's Privacy Policy found at <a href="http://www.cryptonyst.online/privacy/">https://www.cryptonyst.online/privacy/</a>) and all applicable laws and regulations.</p>
        <li><h4>Contact</h4></li>
        <p>The platform is offered by Cryptonyst, Inc. You may contact us by sending a mail to infor.cryptonyst@gmail.com. Report misuse of the platform at <a href="mailto:support.cryptonyst@gmail.com" target="_blank">support.cryptonyst@gmail.com</a></p>
    </ol>
    <hr>
  </div>
</div>

<% include ./partials/footer %>